.cover-bg {
    background-image: url(../assets/img/cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #405189;
    background-blend-mode: lighten;
    background-size: cover;
}

.cover2-bg {
    background-image: url(../assets/img/cover.jpg);
    padding-bottom: 50px;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #405189;
    background-blend-mode: lighten;
    background-size: 100% 100%;
    overflow-y: auto;
    /* Updated property */
    background-position: center;
    /* Optional: Adjust the position if needed */
}

.login-form {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 50px;
}

.login-form form {
    margin-bottom: 15px;
    background: #ffffffdb;
    padding: 10px 20px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}