/* a {
    color: rgb(0 0 0 / 1);
} */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap');

.roster {
    height: 100%;
    overflow-y: scroll;
}

.roster::-webkit-scrollbar {
    width: 8px;
    /* Adjust the width as desired */
}

.roster::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    /* Customize the scrollbar thumb color */
    border-radius: 4px;
}

.roster::-webkit-scrollbar-track {
    background-color: #fff;
    /* Customize the scrollbar track color */
}

.note-popover .popover-content,
.note-editor .note-toolbar {
    background: #f5f5f5 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area .note-editable {
    background-color: white;
}

.recharts-cartesian-grid-vertical {
    display: none !important;
}

.recharts-cartesian-axis-line {
    display: none !important;
}

.recharts-legend-wrapper {
    display: none !important;
}

.recharts-text {
    font-size: 12px !important;
    font-weight: normal !important;
}

.recharts-line {
    height: 10px !important
}

.recharts-tooltip-wrapper {
    border-radius: 5px !important;
}

.recharts-surface {
    padding-right: 40px;
}

.recharts-default-tooltip {
    margin: 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 6px !important;
    color: #666 !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border: solid 2px rgba(230, 230, 230, 0.8) !important;
    font-size: 12px;
    text-align: center;
}

.PhoneInputInput {
    height: 3rem;
    /* border: 1px solid #eeeeee; */
    outline: none;
    border: none;
    font-size: .9rem;
    border-radius: 0.375rem;

}



.PhoneInput {
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding-left: 10px;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #eeeeee;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #999;
    /* creates padding around scroll thumb */
}

.pointer {
    cursor: pointer;
}


.items {
    align-items: center;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.disabled-page {
    color: #808e9b;
}

.actives {
    border: solid 1px #808e9b;
    border-radius: 40px;
    color: #808e9b;
}



.next {
    /* border-left: solid 1px #808e9b; */
    font-size: 4px;
    height: 60px;
    /* position: absolute; */
    right: 0;
    width: 150px;
}

.pagination {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
}

.pagination-page {
    font-weight: 700;
}

.previous {
    /* border-right: solid 1px #808e9b; */
    font-size: 4px;
    height: 60px;
    left: 0;
    /* position: absolute; */
    width: 150px;
}

.bg-1 {
    background: linear-gradient(135deg, #fcedf0, #f0eff6, #e4f2fc);
}


.dlUCce {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    box-shadow: none;
    background-color: transparent;
}

.rdt_TableCell {
    text-overflow: ellipsis;
    overflow: auto;
    border: 1px solid #eeeeee;
    text-align: center;

}

.rdt_TableRow {
    display: flex;
    flex-wrap: wrap;
}

.rdt_TableHeadRow {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
    border: 1px solid #eeeeee;
}

.rdt_TableCol {
    display: flex;
    align-items: center;
    border: 1px solid #eeeeee;
}

.rdt_TableCol_Sortable {
    cursor: pointer;
}

.rdt_TableCol_Sortable:hover {
    text-decoration: underline;
}

.rdt_TableCell_Sortable {
    position: relative;
}

.rdt_TableCell_Sortable .rdt_TableCell_SortDirection {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.jlPZUL {
    color: #405189;
}




.modal-backdrop {
    /* Adjust the transparency by changing the alpha value */
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    /* Adjust the value to leave space for header/footer if necessary */
}

.current-date {
    background-color: #405189;
    padding: 5px;
    border-radius: 5px;
    color: #fff !important;
}

.lonng-cell {
    width: 300px !important;
    /* Adjust the width as per your requirement */
    white-space: nowrap;
    /* Prevent text wrapping within the cell */
    overflow: hidden;
    /* Hide any overflowing content */
    text-overflow: ellipsis;
    /* Show ellipsis (...) for truncated content */
}

.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23dc3545' d='M6.3 0L4 2.3 1.7 0 .3.3 2.5 3 0 5.7l.3.3L4 3.7 6.3 6l.3-.3L5.7 4l2.7-2.7L6.3 0z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.background-logo {
    position: relative;
    background-image: url('../assets/img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.background-logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffc6;
    /* Adjust the opacity/fade as needed */
    z-index: -1;
}

@keyframes ldio-myosbd5c33i {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

.ldio-myosbd5c33i div {
    position: absolute;
    width: 20px;
    height: 80px;
    top: 60px;
    animation: ldio-myosbd5c33i 2.272727272727273s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldio-myosbd5c33i div:nth-child(1) {
    transform: translate(30px, 0);
    background: #405189;
    animation-delay: -1.3636363636363635s;
}

.ldio-myosbd5c33i div:nth-child(2) {
    transform: translate(70px, 0);
    background: #405189;
    animation-delay: -0.9090909090909092s;
}

.ldio-myosbd5c33i div:nth-child(3) {
    transform: translate(110px, 0);
    background: #405189;
    animation-delay: -0.4545454545454546s;
}

.ldio-myosbd5c33i div:nth-child(4) {
    transform: translate(150px, 0);
    background: #405189;
    animation-delay: -2.272727272727273s;
}

.loadingio-spinner-bars-xdw4mmf02v {
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}

.ldio-myosbd5c33i {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-myosbd5c33i div {
    box-sizing: content-box;
}